@import "tailwindcss";
@import './fonts.css';

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --width-sidebar: 25vw;
  --color-header-background: #bebebe;
  --color-guess-button: #149e0f;
}

@layer base {
  :root {
    font-size: medium;
  }
}