@import "tailwindcss";
@import './fonts.css';

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --width-sidebar: 25vw;
  --color-header-background: #f8f4f4;
  --color-guess-button: #19c713;
  --color-card-background: #f8f4f4;
  --color-success: #19c713;
  --color-error: #e02020;

  --breakpoint-sm: 500px;
  --breakpoint-md: 800px;
  --breakpoint-lg: 1000px;
  --breakpoint-xl: 1500px;
}

@layer base {
  :root {
    font-size: medium;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.fade-enter-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from {
  opacity: 0;
}