@import "tailwindcss";
@import '#/assets/fonts.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --width-sidebar: 25vw;

  --color-app-background: #ffffff;
  --color-app-text: #000000;
  --color-confirmation-text: #089101;
  --color-app-border: #7c7c7c;
  --color-header-background: #f8f4f4;
  --color-card-background: #f8f4f4;

  --color-guess-button: #2dc426;
  --color-success: #2dc426;
  --color-error: #e91816;

  --breakpoint-sm: 500px;
  --breakpoint-md: 800px;
  --breakpoint-lg: 1000px;
  --breakpoint-xl: 1500px;
}

@layer base {
  :root {
    font-size: medium;
  }

  .dark {
    --color-app-background: #202020;
    --color-app-text: #ebebeb;
    --color-confirmation-text: #22911c;
    --color-app-border: #999999;
    --color-header-background: #2a2a2a;
    --color-card-background: #2a2a2a;
    --color-guess-button: #117c0d;
    --color-success: #117c0d;
    --color-error: #911313;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.fade-enter-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from {
  opacity: 0;
}

.modal-enter-from,
.modal-leave-to {
    opacity: 0;
}

.modal-enter-active,
.modal-leave-active {
    transition: opacity 0.15s ease;
}

.modal-enter-from > div,
.modal-leave-to > div {
    opacity: 0;
    transform: scale(0.95);
}

.modal-enter-active > div,
.modal-leave-active > div {
    transition: all 0.15s ease;
}